* {	padding: 0; margin: 0; vertical-align: top; }

body {
	/*background: url(background.png) repeat-x;*/
	font: 18px/1.5em "proxima-nova", Helvetica, Arial, sans-serif;
	width: 100%;
}

a {	color: #069; }
a:hover { color: #28b; }

h2 {
	margin-top: 15px;
	font: normal 32px "omnes-pro", Helvetica, Arial, sans-serif;
}

h3 {
	margin-left: 30px;
	font: normal 26px "omnes-pro", Helvetica, Arial, sans-serif;
	color: #666;
}

p {
	margin-top: 10px;
	padding-left: 10px;
}

button {
	font-size: 18px;
	padding: 1px 7px;
}

input {
	font-size: 18px;
}

input[type=checkbox] {
	margin: 7px;
}

#header {
	position: relative;
	width: 100%;
	white-space: nowrap;
	/*margin: auto;*/
}

#header * {
	display: inline;
}

#header h2 {
	padding: 10px 10px 10px 10px;
	font-size: 64px;
	font-weight: bold;
	text-decoration: none;
	color: #000;
	position: absolute;
}

#header img {
	width: 100px;
	height: 100px;
	padding: 10px 10px 10px 10px;
	vertical-align: middle;
}


#content {
	width: 100;
}

#footer {
	margin-top: 25px;
	margin-bottom: 10px;
	font-size: 12px;
	color: #999;
	padding-left: 10px;
}

.demo-container {
	box-sizing: border-box;
	width: 780px;
	height: 300px;
	padding: 20px 15px 15px 15px;
	margin: 10px 10px 30px 10px;
	border: 1px solid #ddd;
	background: #fff;
	background: linear-gradient(#f6f6f6 0, #fff 50px);
	background: -o-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -ms-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -moz-linear-gradient(#f6f6f6 0, #fff 50px);
	background: -webkit-linear-gradient(#f6f6f6 0, #fff 50px);
	box-shadow: 0 3px 10px rgba(0,0,0,0.15);
	-o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.demo-placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}

.legend table {
	border-spacing: 5px;
}